<div class="box">
	<%= link_to (image_tag pin.image (:medium)), pin %>
	<div class="pin-desc">
		<%= pin.description %>
	
	<% unless current_user == pin.user %>
		<p class="postedby"><em>

			Posted by <%= pin.user.name %>
		</em>
		</p>
	<% end %>
	</div>
	<div class="pin-links">
			<% if current_user == pin.user %>
			<%= link_to 'Edit', edit_pin_path(pin) %>
			| <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
		
		<% end %>
	</div>
</div>